# mpl plot Styles
*.mplstyle
!default.mplstyle
!barchart_vertical.mplstyle
!barchart_horizontal.mplstyle

# Exclude all .py
*.py

# keep plotters
!plot2D.py
!plotBarChart.py
!plotHelpers.py
!mergePicklePlots.py

# keep plotStyle 
!colorCycler.py
!mplStyle.py

# exclude samples
*.png
*.pdf
*.svf
*.jpg
*.tig
*.pickle
*.pdf_tex